.partikkel-fixed {
    position: fixed;
    right: 0px;
    top: 100px;
    z-index: 10001;
}

.partikkel-floating,
.partikkel-floating-timepass {
    width: 50px;
    height: 80px;
    line-height: 100%;
    z-index: 1;
    border-color: rgba(0, 0, 0, 0.0980392);
    border-style: solid;
    border-width: 1px;
    box-shadow: -2px 2px 2px grey;
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: #4aa498;
    background-color: white;
    text-align: center;
     word-wrap: normal;
}

.partikkel-icon {
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

.partikkel-clock {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-top: -30px;
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
    .partikkel-floating,
    .partikkel-floating-timepass {
        width: 30px;
        font-size: 6px;
        font-weight: 500;
        box-shadow: -2px 2px 2px grey;
    }

    .partikkel-floating {        
        height: 45px;        
    }

    .partikkel-floating-timepass {        
        height: 48px;        
    }

    .partikkel-icon {
        width: 30px;
        height: 30px;
        margin-top: 1px;
    }

    .partikkel-clock {
      width: 15px;
      height: 15px;
      margin-top: -15px;
      margin-left: 14px;
  }
}