.partikkel_buy_button {
  position: relative;
  background-color: #F6F6F6;
  background-image: url('../../images/logo-gray.svg');
  background-repeat: no-repeat;
  background-size: 50px 50px;
  font-size: 18px;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-weight: 400 !important;
  border-radius: 5px;
  padding: 10px 10px 5px 65px;
  text-decoration: none;
  color: #2e2e2e !important;
  display: block;
  clear: both;
  height: 40px;
  width: 100px;
  margin: 10px 0 10px 0;
}

.partikkel_buy_button.with_price {
}

.partikkel_buy_button:hover {
  text-decoration: none;
  color: #4aa498;
}

@media screen and (max-width: 600px) {
  .partikkel_buy_button {
    background-size: 40px 40px;
    font-size: 14px;
    padding: 6px 5px 3px 50px;
    height: 32px;
    width: 80px;
  }
}