.box-partikkel-buy {
  position: relative;
  background-color: #F6F6F6;
  background-image: url('../../images/logo-gray.svg');
  background-position: 0 0, center;
  background-repeat: no-repeat;
  font-weight: 500;
  font-size: 20px;
  border-radius: 5px;
  padding-left: 75px;
  padding-top: 10px;
  height: 50px;
  width: 140px;
}

.clearUnderline {
  text-decoration: none;
  color: gray;
}