.box-partikkel-buy {
  position: relative;
  background-color: #F6F6F6;
  background-image: url('../../images/logo-gray.svg');
  background-position: 0 0, center;
  background-repeat: no-repeat;
  font-weight: 500;
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 8px;
  height: 40px;
  width: 170px;
}

.clearUnderline {
  text-decoration: none;
}